<network>
  <name>{{network_name}}</name>
  <forward mode='nat'/>
  <bridge name='{{bridge_name}}' stp='on' delay='0'/>
  <ip address='192.168.119.1' netmask='255.255.255.0'>
    <dhcp>
      <range start='192.168.119.2' end='192.168.119.254'/>
    </dhcp>
  </ip>
</network>