<network>
  <name>{{networks[item].network_name}}</name>
  <forward mode='nat'/>
  <bridge name='{{networks[item].bridge_name}}' stp='on' delay='0'/>
  <virtualport type='openvswitch'/>
  <ip address='192.168.110.1' netmask='255.255.255.0'>
    <dhcp>
      <range start='192.168.110.2' end='192.168.110.254'/>
    </dhcp>
  </ip>
</network>
